docs/ExpenseTracker/Automatizar facturas.json
{
  "name": "Automatizar facturas",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "TZuNKFBqcvpddv8J",
          "mode": "list",
          "cachedResultName": "Id",
          "cachedResultUrl": "/projects/Rgz3419Rco3iIp8R/datatables/TZuNKFBqcvpddv8J"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        272,
        512
      ],
      "id": "cc03cfc7-a030-42ab-87c8-d2623a981943",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "TZuNKFBqcvpddv8J",
          "mode": "list",
          "cachedResultName": "Id",
          "cachedResultUrl": "/projects/Rgz3419Rco3iIp8R/datatables/TZuNKFBqcvpddv8J"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "LastId",
              "condition": "lt",
              "keyValue": "={{ $('Split into messages').item.json.update_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LastId": "={{ $('Split into messages').item.json.update_id }}"
          },
          "matchingColumns": [
            "Last_telegram_id"
          ],
          "schema": [
            {
              "id": "LastId",
              "displayName": "LastId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        848,
        512
      ],
      "id": "47e5eb25-fac6-4a6a-8da5-2ad13caad722",
      "name": "Update message id"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b1c41ad-4d83-408a-b003-f3a0eeb332b1",
              "leftValue": "={{ $('Split into messages').item.json.message.photo }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1056,
        512
      ],
      "id": "a18b5af8-2548-4656-9189-f5c2f98d3d76",
      "name": "Check for photo"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot8268791630:AAHifHnFA9-cxLWbTv0jfFNSAUrE6wLkyjI/getUpdates?offset={{ $json.LastId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        512
      ],
      "id": "feefc213-d332-47ab-a918-20eaba811f6a",
      "name": "HTTP Request messages"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot8268791630:AAHifHnFA9-cxLWbTv0jfFNSAUrE6wLkyjI/getFile?file_id={{\n  $('Split into messages').item.json.message.photo[$('Split into messages').item.json.message.photo.length - 1].file_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        752
      ],
      "id": "f6b8282f-aa37-462e-92e3-c33d71a84319",
      "name": "Get Photo Path"
    },
    {
      "parameters": {
        "url": "https://api.ocr.space/parse/imageurl",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "K84221332088957"
            },
            {
              "name": "url",
              "value": "=https://api.telegram.org/file/bot8268791630:AAHifHnFA9-cxLWbTv0jfFNSAUrE6wLkyjI/{{ $json.result.file_path }}"
            },
            {
              "name": "filetype",
              "value": "png"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        496,
        752
      ],
      "id": "e6cb2130-feec-49d4-ac95-8083c89fe87b",
      "name": "OCR space image to text"
    },
    {
      "parameters": {
        "fieldToSplitOut": "result",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        624,
        512
      ],
      "id": "06f5cc1c-ffc2-47cf-b930-68df63764e8c",
      "name": "Split into messages"
    },
    {
      "parameters": {
        "content": "PHASE 1 COLLECTION\nGet NEW messages from telegram",
        "height": 208,
        "width": 896
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        432
      ],
      "typeVersion": 1,
      "id": "f5747f19-3ede-4ea5-a3c3-336a6f7cc21b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "PHASE 2 FILTERING\nSplit into individual messeges\nCheck if photo",
        "height": 208,
        "width": 608,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        784,
        432
      ],
      "typeVersion": 1,
      "id": "68ee724b-e21b-43be-81b8-bf2a7ef0ebb0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "PHASE 3 TEXT TO JSON\nGet the foto path from telegram to send to OCR\nThen gemini AI makes the Notion output",
        "height": 224,
        "width": 1072,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        672
      ],
      "typeVersion": 1,
      "id": "d07842f2-aa58-402c-9089-3b54a557ec57",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert receipt and transaction data extractor. Extract transaction data from the provided text and return ONLY a JSON object with these exact fields:\n\n{\n  \"vendor\": \"vendor/store name\",\n  \"amount\": \"numeric amount (without currency symbol)\",\n  \"currency\": \"EU\",\n  \"date\": \"YYYY-MM-DD format\",\n  \"category\": \"food/shopping/transport/entertainment/uni/other\"\n}\n\nInput text: {{ $json.ParsedResults[0].ParsedText }}\n\nReturn only the JSON object, no additional text or explanation.\nIf there is an issue, return \"ERROR\" in each field.\nIf the vendor is a place to get groceries make it a shopping category\nThe uni category is for University costs, in this case mainly the UPC, Universitat Politecnica de Catalunya."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        688,
        752
      ],
      "id": "fe17833f-5b43-4cef-9b62-afff2045825a",
      "name": "Text to JSON",
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "N0hybF3cclzrQzW3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=6917841405",
        "text": "=✅ Transaction Recorded Successfully!\n\n📊 Details:\n• Vendor: {{$('Code in JavaScript').item.json.vendor}}\n• Amount: {{$('Code in JavaScript').item.json.amount}}{{$json.currency || 'EU'}}\n• Category: {{$('Code in JavaScript').item.json.category}}\n• Date: {{$('Code in JavaScript').item.json.date}}\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        976
      ],
      "id": "456ed031-0281-4f94-94fb-bdc7200e99f8",
      "name": "Confirm recording of transaction",
      "webhookId": "48239aad-8306-4f43-b822-f206c7f9f123",
      "credentials": {
        "telegramApi": {
          "id": "8IqK4wWuQXuwVLlK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const rawText = item.json.content.parts[0].text;\n  const cleaned = rawText.replace(/```json|```/g, '').trim();\n  const parsed = JSON.parse(cleaned);\n\n  results.push({ json: parsed });\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        976
      ],
      "id": "002f6a49-1a8d-44b2-9b94-1c7e3094792b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "content": "PHASE 4 SAVING DATA\nSeparate JSON text into fields and getting Category ID to set the values\n",
        "height": 240,
        "width": 880,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        912
      ],
      "typeVersion": 1,
      "id": "260e7281-0221-40af-b1f0-e3dd6991b54e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "PHASE 5 CONFIRM TRANSACTION\n",
        "height": 240,
        "width": 624
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        912
      ],
      "typeVersion": 1,
      "id": "d2f8a813-41fd-4083-a80c-7f495e235e97",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f554d3d5-06ae-4a3a-b6be-fac3536d3388",
              "leftValue": "={{ $json.vendor }}",
              "rightValue": "ERROR",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        752
      ],
      "id": "bcae33b1-a495-448c-b510-c6c8248fba84",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "290f90fb-b627-8145-8afe-cb33af4a5301",
          "mode": "list",
          "cachedResultName": "Category",
          "cachedResultUrl": "https://www.notion.so/290f90fbb62781458afecb33af4a5301"
        },
        "returnAll": true,
        "simple": false,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Name|title",
              "condition": "equals",
              "titleValue": "={{ $json.category }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        448,
        976
      ],
      "id": "a1b3afd7-cb0c-4f89-828f-723bc3d54f92",
      "name": "Get DB cat ID",
      "credentials": {
        "notionApi": {
          "id": "TgRhDRUrBrhBo085",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "290f90fb-b627-8140-b98a-fa811185ed4b",
          "mode": "list",
          "cachedResultName": "Expenses",
          "cachedResultUrl": "https://www.notion.so/290f90fbb6278140b98afa811185ed4b"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Amount|number",
              "numberValue": "={{ $('Code in JavaScript').item.json.amount.toNumber() }}"
            },
            {
              "key": "Date|date",
              "includeTime": false,
              "date": "={{ $('Code in JavaScript').item.json.date }}"
            },
            {
              "key": "Vendor|title",
              "title": "={{ $('Code in JavaScript').item.json.vendor }}"
            },
            {
              "key": "Category|relation",
              "relationValue": [
                "={{ $json.id }}"
              ]
            },
            {
              "key": "Receipt|files",
              "fileUrls": {
                "fileUrl": [
                  {
                    "name": "Receipt",
                    "url": "=https://api.telegram.org/file/bot8268791630:AAHifHnFA9-cxLWbTv0jfFNSAUrE6wLkyjI/{{ $('Get Photo Path').item.json.result.file_path }}"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        640,
        976
      ],
      "id": "644a8d1b-621c-4cb5-9e41-362b2087c013",
      "name": "Add expense to Notion DB",
      "credentials": {
        "notionApi": {
          "id": "TgRhDRUrBrhBo085",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Split into messages').item.json.message.chat.id }}",
        "text": "=ERROR READING THE IMAGE, NO INFORMATION COULD BE EXTRACTED CORRECTLY",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1248,
        736
      ],
      "id": "0269b91b-c717-4a21-8e03-d457640668c1",
      "name": "ERROR msg",
      "webhookId": "48239aad-8306-4f43-b822-f206c7f9f123",
      "credentials": {
        "telegramApi": {
          "id": "8IqK4wWuQXuwVLlK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "PHASE 4 CHECK THE DATA\n",
        "height": 224,
        "width": 432,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        672
      ],
      "typeVersion": 1,
      "id": "35cb1f9d-1189-45ba-a7f5-f993a3bf6199",
      "name": "Sticky Note6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        256
      ],
      "id": "632cb0bd-fe34-45b6-8ca5-d382ded588cb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -32,
        512
      ],
      "id": "559983be-4d1f-4c47-a0a5-04d1ef20983f",
      "name": "Everyday at night"
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s)": {
      "main": [
        [
          {
            "node": "HTTP Request messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update message id": {
      "main": [
        [
          {
            "node": "Check for photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for photo": {
      "main": [
        [
          {
            "node": "Get Photo Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request messages": {
      "main": [
        [
          {
            "node": "Split into messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Photo Path": {
      "main": [
        [
          {
            "node": "OCR space image to text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR space image to text": {
      "main": [
        [
          {
            "node": "Text to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split into messages": {
      "main": [
        [
          {
            "node": "Update message id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text to JSON": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get DB cat ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "ERROR msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get DB cat ID": {
      "main": [
        [
          {
            "node": "Add expense to Notion DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add expense to Notion DB": {
      "main": [
        [
          {
            "node": "Confirm recording of transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "Everyday at night": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1d146472-0904-4ae1-8bc6-33bbd744d89d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c265698bf8ef395da606883f9a329edd272c7339895e81d1629bc9e9d2afb078"
  },
  "id": "HfvNBZM872Goarmb",
  "tags": []
}